/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './theme';

/* media queries */
@media only screen and (max-width: 750px) {
    body {
        margin: 0 !important;
        width: 100% !important;
    }
}

// variables
$title: 'Cuprum', sans-serif;
$primary: blue;
$accent: orange;

// elements
html {
    font-family: $title !important;
}

body {
    font-family: $title !important;
    margin: auto;
    width: 80%;
    background-color: $accent;
}

// classes
.title-font {
    font-family: $title !important;
}

// id's
