@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-deep-orange, 700, 800);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-brown, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
    @include angular-material-theme($dark-theme);
}

.light-theme {
    @include angular-material-theme($theme);
}