<md-card class="margin-bottom-8">
  <md-toolbar class="title-font accent">
    <span class="">Add a Post!</span>
  </md-toolbar>
  <md-card-content>
    <form [formGroup]="postForm">
      <md-input-container>
        <input type="text" required mdInput placeholder="Image url" formControlName="imageUrl" id="imageUrl">
        <md-hint *ngIf="formErrors.imageUrl">{{ formErrors.imageUrl }}</md-hint>
      </md-input-container>
      <md-input-container>
        <input type="text" mdInput placeholder="Title" formControlName="title" id="title">
        <md-hint *ngIf="formErrors.title">{{ formErrors.title }}</md-hint>
      </md-input-container>
      <md-input-container>
        <input type="text" mdInput placeholder="Tags (separated by commas)" formControlName="tags" id="tags">
        <md-hint *ngIf="formErrors.tags">{{ formErrors.tags }}</md-hint>
      </md-input-container>
      <button type="button" md-raised-button color="primary" (click)="onPostFormSubmit()">Add Post</button>
    </form>
  </md-card-content>
</md-card>

<md-card>
  <md-toolbar class="title-font accent">
    <span class="">Your Posts</span>
  </md-toolbar>
  <md-card-content>

    <!-- display while fetching posts -->
    <div *ngIf="this.posts === undefined">
      <md-spinner></md-spinner>
    </div>

    <!-- display when post fetching complete -->
    <div *ngIf="this.posts !== undefined">

      <!-- display if no posts -->
      <div *ngIf="this.posts.length < 1" class="padding-bottom-8">
        <h1 class="title-font text-center normal-font primary-text">You have no posts! Use the form above to post something now!</h1>
      </div>

      <!-- show posts -->
      <div *ngIf="this.posts.length > 0" class="padding-bottom-8 padding-top-16 min-height-600 padding-left-16 padding-right-16">
        <masonry [options]="myOptions" [useImagesLoaded]="true" class="margin-auto">
          <masonry-brick class="brick" *ngFor="let post of posts; let myIndex = index">
            <div class="margin-left-0 margin-right-0 margin-top-0 margin-bottom-8 padding-bottom-8 primary-light title-font border-radius-5 text-center font-size-one-and-a-quarter">
              <img class="border-radius-top-left-5 border-radius-top-right-5" src="{{ post.imageUrl }}" onError="this.src='https://placehold.it/400x400?text=broken%20image'">
              <span class="text-center font-size-big">{{ post.title }}</span>
              <div class="standard-flex">
                <span class="flex-1">
                  <button md-button color="accent" class="title-font" (click)="onDeleteClick(post._id)">
                    <md-icon>delete</md-icon>
                  </button>
                </span>
                <span class="flex-1"></span>
                <span *ngIf="!(isFave(myIndex))" class="flex-1">
                  <button [disabled]="!(isLoggedIn())" md-button color="accent" class="title-font" (click)="favePost(post._id, myIndex)">
                    <md-icon>favorite_border</md-icon>&nbsp;{{ post.faves.length }}
                  </button>
                </span>
                <span *ngIf="isFave(myIndex)" class="flex-1">
                  <button md-button color="accent" class="title-font" (click)="unfavePost(post._id, myIndex)">
                    <md-icon>favorite</md-icon>&nbsp;{{ post.faves.length }}
                  </button>
                </span>
              </div>
            </div>
          </masonry-brick>
        </masonry>
      </div>

    </div>

  </md-card-content>
</md-card>
